/*
Theme Name: Kahuna
Theme URI: http://www.cryoutcreations.eu/wordpress-themes/kahuna
Description: Kahuna is the big kahuna among WordPress themes. It proved itself with an exotic design, effective and easy to use customizer settings and a responsive, fully editable layout. Many personal and business sites have embraced it for a wide spectrum of uses, ranging from portfolio and photography sites to blogs and online shops. The features are too many to list but here are some of the main attractions: translatable, search engine optimized (both microformats and micordata), supports RTL (right-to-left) languages, supports eCommerce (WooCommerce), has both wide and boxed layouts, masonry bricks, socials, Google fonts, typography options, and a great customizable landing page.
Author: Cryout Creations
Author URI: http://www.cryoutcreations.eu
Template: kahuna
Version: 1.1.1
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, three-columns, right-sidebar, left-sidebar, grid-layout, custom-background, custom-colors, custom-header, flexible-header, custom-menu, featured-image-header, featured-images, front-page-post-form, full-width-template, footer-widgets, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, entertainment, portfolio
Text Domain: kahuna

Kahuna WordPress Theme - Copyright 2017, Cryout Creations - http://www.cryoutcreations.eu
This theme, like WordPress, is licensed under the GPL.
*/

.faces {
    border-radius: 50%;
}

.corner {
	border-radius: 10%;
}